    * {
    box-sizing: border-box;
    }

@media only screen and (min-width: 0px) {
    .header {
        padding: 32px 16px;
    }

    h2 {
        padding: 0 0 22px 0;
        width: 100%;
        font-size: 32px;
        text-align: center;
    }
    .footer {
        padding: 22px 32px;
    }
    .links {
        width: 100%;
        justify-content: space-evenly;
        margin: 0 15px;
    }

    .landing {
        padding: 30px 32px;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .p-about {
        text-align: center;
    }

    #about {
        padding: 22px 32px;
    }
    .h1-projects {
        padding: 22px 32px;
    }
}

@media only screen and (min-width: 800px) {
    .header {
        padding: 32px 96px;
    }
    .footer {
        padding: 22px 96px;
    }
    h2 {
        padding: 0;
        font-size: 24px;
        width: 33%;
        text-align: left;
    }

    .links {
        width: 40%;
        justify-content: space-between;
        margin: 0;
    }

    .landing {
        padding: 30px 96px;
        text-align: left;
    }

    h1 {
        text-align: left;
    }

    .p-about {
        text-align: left;
    }
    #about {
        padding: 22px 96px;
    }
    .h1-projects {
        padding: 22px 96px;
    }
}

.project-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 84px;
}

.actual-project {
    background-color: rgb(206, 229, 255);
    border-radius: 10px;
    padding: 15px;
    margin: 0 12px 12px 12px;
    width: 47%;
} 


body {
    font-family: 'Merriweather', serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #355477;
}

.header {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 10px rgb(206, 229, 255) solid;
}

h2 {
    margin: 0;
    font-weight: normal;
}

.links {
    display: flex;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    color: #355477;
}

a:hover {
    text-decoration: underline;
}

.name {
    width: 480px;
    padding: 0;
    margin: 0;
}

.landing {
    font-size: 28px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
    border-bottom: 10px rgb(206, 229, 255) solid;
    background-color: #45658a;
    color: #ffffff;
}

h1 {
    font-weight: normal;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.footer {
    background-color: #45658a;
    border-top: 10px rgb(206, 229, 255) solid;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

#about {
    font-size: 24px;
    line-height: 1.5;
}
.p-about {
    padding: 12px 0;
}

.a-footer {
    font-size: 18px;
    color: #ffffff;
}
